<!-- 公共头部开始 -->
<include file="Public/header"/>
    <!-- 公共头部结束 -->

    <!-- 第一部分 -->
    <section class="pro-detail-sec">
        <div class="container">
            <nav class="hidden-xs">
                <ul>
                    <li><a href="###">首页</a>&gt;</li>
                    <li><a href="###">产品中心</a>&gt;</li>
                    <li><a href="###">产品展示</a></li>
                </ul>
            </nav>
            <div class="pd-titel hidden-xs">
                <span>{$content.title}</span>
            </div>
            {$content.content}
            <!--<div class="pd-cont">
                <img class="img-responsive" src="img/pro-detail-img2.jpg" alt="">
                <p>青城国际营销中心让每一个客户满意，才能为我们带来更好的口碑，才能带给我们发展的可能性，让每一个客户满意，才能为我们带来更好的口碑，才能带给我们发展的可能性让每一个客户满意，才能为我们带来更好的口碑，才能带给我们发展的可能性</p>
            </div>
            <div class="pd-cont">
                <img class="img-responsive" src="img/pro-detail-img3.jpg" alt="">
                <p>青城国际营销中心让每一个客户满意，才能为我们带来更好的口碑，才能带给我们发展的可能性，让每一个客户满意，才能为我们带来更好的口碑，才能带给我们发展的可能性让每一个客户满意，才能为我们带来更好的口碑，才能带给我们发展的可能性</p>
            </div>-->

        </div>
    </section>








<!-- 底部 -->
<include file="Public/footer"/>

</body>
<script>
    $('.products').addClass('hoverClass');
</script>
</html>