    <section class="footer">
        <div class="c-e">
            <img class="img-responsive center-block" src="__ROOT__/public/home/img/contact.jpg" alt="">
            <h6>梦淘沙创业家族工作室</h6>
            <p>手机：{$config.linktel} 丨 微信：{$config.linkwx} 丨 联系人：{$config.linkman} 丨 邮箱：{$config.linkemail} 丨 地址：{$config.linkadress}</p>
        </div>
    </section>




    <script src="__ROOT__/public/home/js/jquery.min.js"></script>
    <script src="__ROOT__/public/home/js/bootstrap.min.js"></script>
    <script type="text/jscript" src="__ROOT__/public/home/js/main.js"></script>




</body>

</html>