<include file="Public/header" />
    <link rel="stylesheet" href="__ROOT__/public/home/css/protocol.css">
   <section class="protocol pro-ser">
        <div class="container">

            <div class="pro-box" id="about">
                <h1>关于我们</h1>
                <p>名声网是做什么的？</p>
                <p>名声网是一个表扬好名声，改善差名声，人人参与共建诚信社会的互联网平台</p>
                <p>我们的使命：用感恩和科技让世界更美好！</p>
                <p>公司的愿景：让天下无欺，人人诚信</p>
                <p>公司文化：诚信，公正，负责，友善 </p>
            </div>

            <div class="pro-box " id="server">
                <h1>服务协议</h1>
                <p>在甲乙双方平等自愿,互惠互利的原则基础上,就乙方申请作为用户成为甲方网站名声网以下简称本网站）的个人（会员）用户（以下简称用户）,并且用户进一步同意，进入本网站会员注册程序即意味着用户同意了注册条款(即本协议，网站会员注册与本协议有冲突的以本协议为准)的所有内容且只有用户完全同意所有服务条款并完成注册程序，才能成为本网站的正式用户。本注册条款自用户注册成功之日起在用户与名声网之间产生法律效力。 </p>
            </div>

            <div class="pro-box ">
                <h2>第一条 名声网简介</h2>
                <p>名声网向其会员提供一个云平台，个人用户注册审核通过后，以具有唯一性的姓名、手机号、密码登录属于自己的管理平台，浏览编辑信息，它具有很强的独立性、安全性。名声网以传播好名声，改善差名声，完善社会诚信体系为使命，
                    以诚实守信，遵纪守法，有凭有据，客观冷静为基本行为准则。并且“名声网”不主动涉及收入、宗教信仰、基因、指纹、血型、疾病和病史信息等个人隐私信息，同时保护了个人的隐私。这种安全机制的建立是由多名知名专家、学者、律师以及技术研发人员通过多年的研究探讨，研发出来的，同时也参考了欧美发达国家的信用体系建立机制，帮助用户积累个人信用财富，改善塑造良好名声形象，为个人事业发展创造良好条件，也可以帮助个人避免上当受骗，单位避免招进一些名声差，信誉不良的员工，避免给公司带来不必要的损失。
                </p>
            </div>

            <div class="pro-box">
                <h2>第二条 个人用户身份保证 </h2>
                <p>2-1 用户承诺并保证自己是具有完全民事行为能力和完全民事权利能力的公民。用户在此保证所填写的用户信息是真实、准确、完整、及时的，并且没有任何引人误解或者虚假的陈述，且保证本网站可以通过用户所填写的联系方式与用户取得联系。 </p>
                <p>2-2 用户应根据本网站对于相关服务的要求及时提供相应的身份证明等资料，否则本网站有权拒绝向该会员或用户提供相关服务。 </p>
                <p>2-3 如果用户提供的资料或信息包含有不正确、不真实的信息，本网站保留取消用户会员资格并随时结束为该用户提供服务的权利。 </p>
                <p>2-4 用户承诺将及时更新其用户信息以维持该信息的有效性。 </p>
            </div>

            <div class="pro-box">
                <h2>第三条 会员身份确认 </h2>
                <p>3-1 用户注册时应提供姓名、手机号，用户凭姓名、手机号、密码进入名声网并享受用户提供的服务。</p>
                <p>3-2 非经本网站书面同意，姓名、手机号、密码不得擅自转让或者授权他人使用，否则用户应承担由此造成的一切后果。 </p>
                <p>3-3 用户若发现任何非法使用用户帐号或存在安全漏洞的情况，请立即通告本网站。 </p>
            </div>
            <div class="pro-box">
                <h2>第四条 用户的权利和义务  </h2>
                <p>4-1 用户有权利拥有自己在本网站的密码并有权利使用自己的姓名、手机号、密码随时登录本网站。</p>
                <p>4-2 凡注册成为本网站的会员后，皆可享受本网站上提供的所有信息，但必须支付本网站规定的费用。</p>
                <p>4-3 个人会员用户同意在本网站上建立所有名声信息和查询相关信息：本人授权同意其他人可以在本平台中查询到相关信息。 </p>
                <p>4-4 个人会员用户在本网站上建立所有信息，本人应给予真实记录。对于不能公正、真实的记录信息的，本网站在他方能够提供有效证据或有关仲裁或司法部门，出具相关裁定或判决的情况下，本网站有权屏蔽该信息。 </p>
                <p>4-5 个人会员用户同意其它会员用户可以在本网站上查询用户信息，根据本人留下的联系方式联系本人咨询相关情况。</p>
                <p>4-6 用户保证其使用本网站时将遵从国家、地方法律法规、行业惯例如社会公共道德，不会利用本网站提供的服务进行存储、发布、传播如下信息和内容：违反国家法律法规政策的任何内容（信息）；违反国家规定的政治宣传和/或新闻信息；涉及国家秘密和/或安全的信息；封建迷信和/或淫秽、色情、下流的信息或教唆犯罪的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；防碍互联网运行安全的信息；侵害他人合法权益的信息和/或其他有损于社会秩序、社会治安、公共道德的信息或内容。用户同时承诺不得为他人发布上述不符合国家规定和/或本服务条款约定的信息内容提供任何便利，包括但不限于设置URL、BANNER链接等。用户承认本网站有权在用户违反上述时有权终止向用户提供服务并不予退还任何款项，因用户上述行为给本网站造成损失的，用户应予赔偿。 </p>
            </div>
            <div class="pro-box">
                <h2>第五条 本网站的权利和义务 </h2>
                <p>5-1 本网站不排除个别服务项目根据国家相关规定收取相关费用（参看本网站收费标准），本网站应根据用户选择的服务以及交纳款项的情况向用户提供合格的网络信息服务。  </p>
                <p>5-2 本网站的注册用户发布的信息，其他用户会员可以有查看资料的权利，但是用户必须遵循以下规则：</p>
                <p>5-2-1 遵守法律法规的规定；</p>
                <p>5-2-2 本网站保留在用户违反国家、地方法律法规规定或违反本网站其他相关规定的情况下终止为用户提供服务并终止使用用户帐号的权利。 </p>
                <p>5-3 对于用户不能公正、真实的记录信息，以及信息被不正当披露或使用时，违反了国家有关相关法律规定，并由此给本网站造成直接和间接损失的，由责任方承担责任。 </p>
                <p>5-4 本网站保证个人注册用户的信息不外泄，并防止用户关键信息为他方获取、利用</p>
                <p>5-5 本网站承诺，在双方合作期间，甲方应维护其网站的正常运行，保证乙方全面、完整地享有本协议约定的注册、查询、基本数据的上传和下载等权利。 “名声网”平台服务本身不直接上传、提供内容，对用户传输内容不做任何修改或编辑，但如果用户发布信息带有侮辱攻击他人信息，名声网有权要求用户去除修改信息，对不听劝告执意发布不良信息的用户，名声网有权删除信息，冻结用户所有的操作功能。</p>
            </div>
            <div class="pro-box">
                <h2>第六条 服务的终止 </h2>
                <p>6-1 本服务条款有关的一切争议，双方当事人应通过友好协商方式解决。如果协商未成，可向乙方所在地法院提起诉讼。 </p>
                <p>6-3 本注册条款的效力、解释、履行和争议的解决均适用中华人民共和国法律法规和计算机、互联网行业的规范。</p>
            </div>
            <div class="pro-box">
                <h2>第七条：免责声明 </h2>
                <p>7-1 用户对经由本平台发布、上载、粘贴、电邮或传送的任何内容负全部责任。用户下载或使用上述内容，应自行承担风险。</p>
                <p>7-2 在任何情况下，本平台均不对未经我方认证的任何信息负责，包括但不限于这些信息发生任何错误或纰漏以及衍生的任何损失或损害。</p>
                <p>7-3 本平台不保证（包括但不限于）： </p>
                <p> a.本服务条款适合任何用户的任何使用要求； </p>
                <p> b.本平台产品服务不受互联网服务中可能存在的各个环节不稳定因素的影响，存在因不可抗力、计算机病毒、黑客攻击、系统不稳定、联网职能部门数据库不全，以及其他任何网络、技术、通信线路等原因造成的系统反馈信息不全面、服务中断或受阻，本网站不承担责任。 </p>
                <p> c.用户经由本平台取得的任何交易信息、产品、服务或其他材料符合用户的期望。 </p>
                <p>7-4 关于链接：本平台可能会提供与其他共建单位网站、国际互联网网站或资源进行链接。对于这些网站或其资源是否可以利用，本平台不予担保。因使用或依赖上述网站或资源所造成的损失或损害，本平台也不负担任何责任。 </p>
                <p>7-5 由于用户经由本平台发布、粘贴、电邮或传送内容、与本服务连线、违反本服务条款或侵害其他人的任何权利导致任何第三方提出权利主张，用户同意赔偿本平台及其分公司、关联公司、代理人或其他合作伙伴及员工，并使其免受损害。 </p>
                <p>7-6 任何通过使用名声网搜索而显示出来的信息均为他人制作或提供，不反映名声网之任何意见或主张，也不表示名声网同意或支持该用户上传的任何内容、主张或立场。</p>
                <p>7-7 名声网对由于用户不正当使用本网站服务、或依据本网站信息进行交易引起的对任何第三方的损害不承担任何赔偿责任；</p>
                <p>7-8 本网站的内容及提供的服务不含任何明示性或暗示性的声明、保证或条件，包括但不限于关于真实性、 时效性或适用于某一特定用途的明示或暗示性的声明、保证或条件，或者对其使用不会被中断或无误；</p>
                <p>7-9 名声网不声明或保证本网站或可从本网站下载的内容不带有计算机病毒或类似垃圾或破坏功能；</p>
                <p>7-10 名声网不担保本网站服务一定能满足用户的要求，不对页面内容的删除或储存失败负责；</p>
                <p>7-11 若名声网已经明示本网站运营方式发生变更并提醒用户应当注意事项，用户未按要求操作所产生的一切后果由用户自行承担；</p>
                <p>7-12 已经注册为名声网会员的用户，在超出会员服务范围外要求的其他服务可能会产生额外的费用由用户自己承担。</p>
                <p>7-13 名声网对由于政府禁令、现行生效的适用法律或法规的变更、火灾、地震、动乱、战争、停电、通讯线路中断、 黑客攻击、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可预见、
                    不可避免、不可克服和不可控制的事件（“不可抗力事件”），以及他人蓄意破坏、金堤科技工作人员的过失疏忽或不当使用， 正常的系统维护、 系统升级，或者因网络拥塞而导致本网站不能访问而造成的本站所提供的信息及数据的延误、
                    停滞或错误，使用者由此受到的一切损失不承担任何责任。
                </p>
                <p>7-14 用户确认其知悉，对于名声网提供的数据服务系统内容涉及根据法律法规或规范性文件需要数据查询或使用者获得数据相关方权利人授权的， 用户及用户相关系统使用人员应当于数据查询与使用前自行获取相关权利人授权，
                    尚未获得相关权利人授权而对相关信息进行查询与使用的，因此造成一切不利后果由用户自行承担。
                </p>
                <p>7-15 用户知悉并同意允许名声网有权通过邮件、短信或电话等形式，向您及您授权的手机联系人发送会员活动相关信息。 </p>
                <p>7-16 用户确认其知悉由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏， 或其他非因名声网平台原因导致的个人信息的泄漏，名声网概不负责；</p>
                <p>7-17 用户确认其知悉，使用本网站提供的服务涉及到互联网服务和电信增值服务， 可能会受到各个环节不稳定因素的影响。因此服务存在因国家相关行业主管部门及电信运营商的调整、 系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。
                    用户须承担以上风险，名声网不作担保。对因此导致用户不能发送、上传和接受阅读消息、或接发错消息， 或无法实现其他通讯条件，名声网不承担任何责任。</p>
                <p>7-18 用户确认其知悉，在使用本网站提供的服务存在有来自任何其他人的包括威胁性的、诽谤性的、 令人反感的或非法的内容或行为或对他人权利的侵犯(包括知识产权)的匿名或冒名的信息的风险，用户须承担以上风险，对因此导致任何因用户不正当或非法使用服务产生的直接、间接、偶然、
                    惩罚性的损害，名声网不承担任何责任。
                </p>
                <p>7-19 如果您不是具备完全民事权利能力和完全民事行为能力的自然人，您无权使用名声网服务， 因此名声网希望您不要向我们提供任何个人信息。</p>
                <p class="c-r">7-20 用户一旦在名声网成功注册，即表示用户自愿同意授权名声网发送信息通知给用户所提供联系方式(包括用户本身联系方式和用户举报，表扬对象的联系方式)，包括但不限于：手机短信，邮件，微信，QQ ,名声网留言等.由此推送信息产生的任何法律责任有用户完全承担，名声网不承担任何责任，名声网也不保证推送信息一定会被成功送达。</p>

            </div>
            <div class="pro-box">
                <h2>禁止事项</h2>
                <p>如果您同意该项协议，则默认您承诺不做以下行为：</p>
                <p>1) 上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息 （包括但不限于图片、文字、视频、链接、音乐等）：</p>
                <p>a) 反对宪法所确定的基本原则的；</p>
                <p>b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                <p>c) 损害国家荣誉和利益的；</p>
                <p>d) 煽动民族仇恨、民族歧视、破坏民族团结的；</p>
                <p>e) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                <p>f) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                <p>g) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                <p>h) 侮辱或者诽谤他人，侵害他人合法权利的；</p>
                <p>i) 含有虚假、欺诈、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、与公序良俗不符或其它道德上令人反感的内容；</p>
                <p>j) 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的。</p>
                <p>2) 为任何非法目的而使用名声网网络服务系统；</p>
                <p>3) 利用名声网从事以下活动：</p>
                <p>a) 未经书面允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>
                <p>b) 未经书面允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
                <p>c) 未经书面允许，进入计算机信息网络中对存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
                <p>d) 故意制作、传播计算机病毒（包括木马）等破坏性程序；</p>
                <p>e) 其他危害计算机信息网络安全的行为。</p>
                <p>4) 对名声网相关服务任何部分或本服务之使用或获得，进行复制、出售、转售或用于任何其它商业目的。 用户需对其在使用名声网提供数据信息服务过程中的行为承担完全的法律责任。如果名声网发现其网站传输的信息明显属于本条规定的内容之一，或名声网合理地认为用户的行为可能违反相关法律法规或本协议的规定，名声网可以在任何时候、不经事先通知终止本协议，禁止相关用户访问名声网提供数据信息，保存有关记录，向有权机关报告，并且删除含有该内容的地址、目录或关闭服务器。用户使用名声网提供的其他数据信息的电子服务，也须遵守本协议的规定。
                    因用户提供的内容违法或侵犯第三人的合法权 益而导致名声网对第三方承担任何性质的赔偿、补偿或罚款而遭受损失(包括但不限于直接的、间接的、偶然的、惩罚性的损失)，用户对于名声网遭受的上述损失承担完全的赔偿责任。</p>


            </div>
            <div class="pro-box">
                <h2>责任限制</h2>
                <p>鉴于名声网平台提供的服务属于公开数据的整理，名声网平台上的信息均来自网络公开信息，由信息来源方对信息真实性等负相应责任，名声网平台所展示信息出于传递更多信息之目的，并不意味名声网赞同其观点或已经证实其内容的真实性。</p>
            </div>
            <div class="pro-box">
                <h2>争议的解决</h2>
                <p>因使用名声网的过程所产生的一切争议与纠纷若无法通过协商解决，则可以通过以下方式解决：</p>
                <p>双方首次就争议解决方法商洽开始30天后仍未就争议解决方式达成一致意见的，则应通过东莞市有管辖权的人民法院诉讼解决。</p>
                <p>因使用名声网所引起的诉讼其程序及实体事宜受中华人民共和国法律管辖并按其进行解释。</p>
                <p>就双方争议解决所产生的一切费用由诉讼的败诉方承担，该费用包括但不限于；冻结资产产生的费用与损失、调查取证费、诉讼费、律师费、工作人员差旅费及其他因诉讼产生的必要费用。</p>
            </div>
            <div class="pro-box">
                <h2>声明接受</h2>
                <p>1) 用户在使用名声网前对本声明的条款已充分阅读，就声明的条款内容进行了充分沟通。 用户已完整、清晰的理解每一条款的真实含义，对声明的条款约定的双方权利义务均不存在异议与保留意见。</p>
                <p>2) 双方在此确认就本声明的条款内容，不存在重大误解、 欺诈胁迫等可能导致本声明的条款可撤销或自始无效等效力瑕疵事宜。明确放弃基于上述及类似理由产生的撤销权。</p>
                <p>3) 用户在使用名声网网站或软件时即代表其已经声明基于真实有效的意思表示，接受本声明的条款。</p>
                <p>4) 本协议条款的最终解释权归名声网所有。</p>
            </div>
            <div class="pro-box">
                <h2>第八条附则 </h2>
                <p>8-1 本注册条款中有关条款若被权威机构认定为无效，不应影响其他条款的效力，也不影响本服务条款的解释、违约责任及争议解决的有关约定的效力。 </p>
                <p>8-2 用户变更通知、通讯地址或其他联系方式，应自变更之日起及时将变更后的地址、联系方式通知名声网，否则变更方应对此造成的一切后果承担责任。用户同意，本网站的有关通知只需在本网站有关网页上发布即视为送达用户。个人用户在此再次保证已经完全阅读并理解了上述个人会员注册条款并自愿正式进入本网站会员在线注册程序，接受上述所有条款的约束。</p>
                <p>8-3 如企业用户或其它组织机构注册，需上传企业营业执照副本加盖公章，并通过企业公账打款验证后才可以绑定手机号登陆使用。</p>
            </div>
            <div class="pro-box" id="disclaimer">
                <h2 class="c-r">免责声明 </h2>
                <p>7-1 用户对经由本平台发布、上载、粘贴、电邮或传送的任何内容负全部责任。用户下载或使用上述内容，应自行承担风险。</p>
                <p>7-2 在任何情况下，本平台均不对未经我方认证的任何信息负责，包括但不限于这些信息发生任何错误或纰漏以及衍生的任何损失或损害。</p>
                <p>7-3 本平台不保证（包括但不限于）： </p>
                <p> a.本服务条款适合任何用户的任何使用要求； </p>
                <p> b.本平台产品服务不受互联网服务中可能存在的各个环节不稳定因素的影响，存在因不可抗力、计算机病毒、黑客攻击、系统不稳定、联网职能部门数据库不全，以及其他任何网络、技术、通信线路等原因造成的系统反馈信息不全面、服务中断或受阻，本网站不承担责任。 </p>
                <p> c.用户经由本平台取得的任何交易信息、产品、服务或其他材料符合用户的期望。 </p>
                <p>7-4 关于链接：本平台可能会提供与其他共建单位网站、国际互联网网站或资源进行链接。对于这些网站或其资源是否可以利用，本平台不予担保。因使用或依赖上述网站或资源所造成的损失或损害，本平台也不负担任何责任。 </p>
                <p>7-5 由于用户经由本平台发布、粘贴、电邮或传送内容、与本服务连线、违反本服务条款或侵害其他人的任何权利导致任何第三方提出权利主张，用户同意赔偿本平台及其分公司、关联公司、代理人或其他合作伙伴及员工，并使其免受损害。 </p>
                <p>7-6 任何通过使用名声网搜索而显示出来的信息均为他人制作或提供，不反映名声网之任何意见或主张，也不表示名声网同意或支持该用户上传的任何内容、主张或立场。</p>
                <p>7-7 名声网对由于用户不正当使用本网站服务、或依据本网站信息进行交易引起的对任何第三方的损害不承担任何赔偿责任；</p>
                <p>7-8 本网站的内容及提供的服务不含任何明示性或暗示性的声明、保证或条件，包括但不限于关于真实性、 时效性或适用于某一特定用途的明示或暗示性的声明、保证或条件，或者对其使用不会被中断或无误；</p>
                <p>7-9 名声网不声明或保证本网站或可从本网站下载的内容不带有计算机病毒或类似垃圾或破坏功能；</p>
                <p>7-10 名声网不担保本网站服务一定能满足用户的要求，不对页面内容的删除或储存失败负责；</p>
                <p>7-11 若名声网已经明示本网站运营方式发生变更并提醒用户应当注意事项，用户未按要求操作所产生的一切后果由用户自行承担；</p>
                <p>7-12 已经注册为名声网会员的用户，在超出会员服务范围外要求的其他服务可能会产生额外的费用由用户自己承担。</p>
                <p>7-13 名声网对由于政府禁令、现行生效的适用法律或法规的变更、火灾、地震、动乱、战争、停电、通讯线路中断、 黑客攻击、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可预见、
                    不可避免、不可克服和不可控制的事件（“不可抗力事件”），以及他人蓄意破坏、金堤科技工作人员的过失疏忽或不当使用， 正常的系统维护、 系统升级，或者因网络拥塞而导致本网站不能访问而造成的本站所提供的信息及数据的延误、
                    停滞或错误，使用者由此受到的一切损失不承担任何责任。
                </p>
                <p>7-14 用户确认其知悉，对于名声网提供的数据服务系统内容涉及根据法律法规或规范性文件需要数据查询或使用者获得数据相关方权利人授权的， 用户及用户相关系统使用人员应当于数据查询与使用前自行获取相关权利人授权，
                    尚未获得相关权利人授权而对相关信息进行查询与使用的，因此造成一切不利后果由用户自行承担。
                </p>
                <p>7-15 用户知悉并同意允许名声网有权通过邮件、短信或电话等形式，向您及您授权的手机联系人发送会员活动相关信息。 </p>
                <p>7-16 用户确认其知悉由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏， 或其他非因名声网平台原因导致的个人信息的泄漏，名声网概不负责；</p>
                <p>7-17 用户确认其知悉，使用本网站提供的服务涉及到互联网服务和电信增值服务， 可能会受到各个环节不稳定因素的影响。因此服务存在因国家相关行业主管部门及电信运营商的调整、 系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。
                    用户须承担以上风险，名声网不作担保。对因此导致用户不能发送、上传和接受阅读消息、或接发错消息， 或无法实现其他通讯条件，名声网不承担任何责任。</p>
                <p>7-18 用户确认其知悉，在使用本网站提供的服务存在有来自任何其他人的包括威胁性的、诽谤性的、 令人反感的或非法的内容或行为或对他人权利的侵犯(包括知识产权)的匿名或冒名的信息的风险，用户须承担以上风险，对因此导致任何因用户不正当或非法使用服务产生的直接、间接、偶然、
                    惩罚性的损害，名声网不承担任何责任。
                </p>
                <p>7-19 如果您不是具备完全民事权利能力和完全民事行为能力的自然人，您无权使用名声网服务， 因此名声网希望您不要向我们提供任何个人信息。</p>
                <p class="c-r">7-20 用户一旦在名声网成功注册，即表示用户自愿同意授权名声网发送信息通知给用户所提供联系方式(包括用户本身联系方式和用户举报，表扬对象的联系方式)，包括但不限于：手机短信，邮件，微信，QQ ,名声网留言等.由此推送信息产生的任何法律责任有用户完全承担，名声网不承担任何责任，名声网也不保证推送信息一定会被成功送达。</p>

            </div>
            <div class="pro-box">
                <h2>禁止事项</h2>
                <p>如果您同意该项协议，则默认您承诺不做以下行为：</p>
                <p>1) 上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息 （包括但不限于图片、文字、视频、链接、音乐等）：</p>
                <p>a) 反对宪法所确定的基本原则的；</p>
                <p>b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                <p>c) 损害国家荣誉和利益的；</p>
                <p>d) 煽动民族仇恨、民族歧视、破坏民族团结的；</p>
                <p>e) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                <p>f) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                <p>g) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                <p>h) 侮辱或者诽谤他人，侵害他人合法权利的；</p>
                <p>i) 含有虚假、欺诈、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、与公序良俗不符或其它道德上令人反感的内容；</p>
                <p>j) 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的。</p>
                <p>2) 为任何非法目的而使用名声网网络服务系统；</p>
                <p>3) 利用名声网从事以下活动：</p>
                <p>a) 未经书面允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>
                <p>b) 未经书面允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
                <p>c) 未经书面允许，进入计算机信息网络中对存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
                <p>d) 故意制作、传播计算机病毒（包括木马）等破坏性程序；</p>
                <p>e) 其他危害计算机信息网络安全的行为。</p>
                <p>4) 对名声网相关服务任何部分或本服务之使用或获得，进行复制、出售、转售或用于任何其它商业目的。 用户需对其在使用名声网提供数据信息服务过程中的行为承担完全的法律责任。如果名声网发现其网站传输的信息明显属于本条规定的内容之一，或名声网合理地认为用户的行为可能违反相关法律法规或本协议的规定，名声网可以在任何时候、不经事先通知终止本协议，禁止相关用户访问名声网提供数据信息，保存有关记录，向有权机关报告，并且删除含有该内容的地址、目录或关闭服务器。用户使用名声网提供的其他数据信息的电子服务，也须遵守本协议的规定。
                    因用户提供的内容违法或侵犯第三人的合法权 益而导致名声网对第三方承担任何性质的赔偿、补偿或罚款而遭受损失(包括但不限于直接的、间接的、偶然的、惩罚性的损失)，用户对于名声网遭受的上述损失承担完全的赔偿责任。</p>

            </div>
            <div class="pro-box">
                <h2>责任限制</h2>
                <p>鉴于名声网平台提供的服务属于公开数据的整理，名声网平台上的信息均来自网络公开信息，由信息来源方对信息真实性等负相应责任，名声网平台所展示信息出于传递更多信息之目的，并不意味名声网赞同其观点或已经证实其内容的真实性。</p>
            </div>
            <div class="pro-box">
                <h2>争议的解决</h2>
                <p>因使用名声网的过程所产生的一切争议与纠纷若无法通过协商解决，则可以通过以下方式解决：</p>
                <p>双方首次就争议解决方法商洽开始30天后仍未就争议解决方式达成一致意见的，则应通过东莞市有管辖权的人民法院诉讼解决。</p>
                <p>因使用名声网所引起的诉讼其程序及实体事宜受中华人民共和国法律管辖并按其进行解释。</p>
                <p>就双方争议解决所产生的一切费用由诉讼的败诉方承担，该费用包括但不限于；冻结资产产生的费用与损失、调查取证费、诉讼费、律师费、工作人员差旅费及其他因诉讼产生的必要费用。</p>
            </div>
            <div class="pro-box">
                <h2>声明接受</h2>
                <p>1) 用户在使用名声网前对本声明的条款已充分阅读，就声明的条款内容进行了充分沟通。 用户已完整、清晰的理解每一条款的真实含义，对声明的条款约定的双方权利义务均不存在异议与保留意见。</p>
                <p>2) 双方在此确认就本声明的条款内容，不存在重大误解、 欺诈胁迫等可能导致本声明的条款可撤销或自始无效等效力瑕疵事宜。明确放弃基于上述及类似理由产生的撤销权。</p>
                <p>3) 用户在使用名声网网站或软件时即代表其已经声明基于真实有效的意思表示，接受本声明的条款。</p>
                <p>4) 本协议条款的最终解释权归名声网所有。</p>
            </div>
            <div class="pro-box pro-foo">
                <p>名声网</p>
            </div>
        </div>

    </section>

<include file="Public/footer" />




  






  