<!-- 公共头部开始 -->
<include file="Public/header"/>
    <!-- 公共头部结束 -->

    <!-- 第一部分 -->
    <section class="pro-detail-sec">
        <div class="container">
            <nav class="hidden-xs">
                <ul>
                    <li><a href="###">首页</a>&gt;</li>
                    <li><a href="###">动态资讯</a></li>
                </ul>
            </nav>
            <div class="pd-titel hidden-xs">
                <span>{$default.title}</span>
            </div>
            {$default.content}
        </div>
    </section>








<!-- 底部 -->
<include file="Public/footer"/>

</body>
<script>
    $('.index').addClass('hoverClass');
</script>
</html>