
<include file="Public/header"/>
    <!-- 公共头部结束 -->

    <!-- 第一部分 -->
    <section class="dyc-detail-sec">
        <div class="container">
            <div class="dc-dl-title">
                    <h1>{$content.title}</h1>
                    <p>&minus;&minus;&minus; {$content.date}</p>
                    <div class="clear"></div>
            </div>
            {$content.content}
            <!--<img class="img-responsive" src="__ROOT__/public/home/img/dyc-detail-img1.jpg" alt="">
            <p class="dcd-text">设计制作各类招牌发光字,显示屏,户外广告,形象墙,导视牌,灯箱,我们是专业设计、制作、生产、安装户外大型发光字广告的团队。我们始终坚持诚信、守信，质量第一，顾客至上的原则，在行业中树立良好的形象，赢得诸多客户的信赖，欢迎广大新老客户莅临指导。</p>
            <img class="img-responsive" src="img/dyc-detail-img2.jpg" alt="">
            <p class="dcd-text">设计制作各类招牌发光字,显示屏,户外广告,形象墙,导视牌,灯箱,我们是专业设计、制作、生产、安装户外大型发光字广告的团队。我们始终坚持诚信、守信，质量第一，顾客至上的原则，在行业中树立良好的形象，赢得诸多客户的信赖，欢迎广大新老客户莅临指导。</p>
      -->
        </div>
    </section>

    <!-- 底部 -->
    <include file="Public/footer"/>

</body>
<script>
    $('.dynamic').addClass('hoverClass');
    $('.dyc-detail-sec img').addClass('img-responsive');
</script>
</html>