
<!-- 公共头部开始 -->
<include file="Public/header"/>
    <!-- 公共头部结束 -->

    <!-- 第一部分 -->
    <section class="serve-sec">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="###">首页</a>&gt;</li>
                    <li><a href="###">优质服务</a></li>
                </ul>
            </nav>
            <div class="serve-box">
                <p class="serve-title"><span>&frasl;</span>文艺青年广告工作模式</p>
                <div class="ser-cont1">
                    <div class="pull-left">
                        <img class="" src="__ROOT__/public/home/img/serve-img1.png" alt="">
                    </div>
                    <div class="pull-right">
                        <ul class="ul-disc">
                            <li> <span class="li-disc"></span>这是文艺青年广告的品牌作业模式</li>
                            <li> <span class="li-disc"></span>将品牌策略、品牌计划和品牌传播执行紧密结合</li>
                            <li> <span class="li-disc"></span>在一起形成“品牌领导力”</li>
                            <li> <span class="li-disc"></span>确保所有品牌都能全面顾及用户体验</li>
                            <li> <span class="li-disc"></span>建立了忠于品牌的核心价值与精神</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <p class="serve-title"><span>&frasl;</span>服务优势</p>
                <div class="ser-cont2">
                    <ul class="ul-disc sc-2">
                        <li> <span class="li-disc"></span>这是文艺青年广告的品牌作业模式
                            <p>武汉青年文艺文化有限公司历经十年的品牌发展服务历程，文艺青年广告的存在是是为了富有卓越眼光客户时限真正意义上的品牌生长和突破，时限品牌的持续腾飞。</p>
                        </li>
                        <li> <span class="li-disc"></span>将品牌策略、品牌计划和品牌传播执行紧密结合
                            <p>文艺广告拥有一支强有力的核心团队，他们拥有的丰富的经验，他们唯一的目的就是让客户满意是他们唯一的宗旨。</p>
                        </li>
                        <li> <span class="li-disc"></span>在一起形成“品牌领导力”
                            <p>文艺广告拥有一支强有力的核心团队，他们拥有的丰富的经验，他们唯一的目的就是让客户满意是他们唯一的宗旨。</p>
                        </li>
                        <li> <span class="li-disc"></span>确保所有品牌都能全面顾及用户体验
                            <p>文艺广告拥有一支强有力的核心团队，他们拥有的丰富的经验，他们唯一的目的就是让客户满意是他们唯一的宗旨。</p>
                        </li>
                        <li> <span class="li-disc"></span>建立了忠于品牌的核心价值与精神
                            <p>文艺广告拥有一支强有力的核心团队，他们拥有的丰富的经验，他们唯一的目的就是让客户满意是他们唯一的宗旨。</p>
                        </li>
                    </ul>
                </div>
                <p class="serve-title"><span>&frasl;</span>合作须知</p>
                <div class="ser-cont2">
                    <ul class="ul-disc sc-2">
                        <li> <span class="li-disc"></span>这是文艺青年广告的品牌作业模式
                            <p>武汉青年文艺文化有限公司历经十年的品牌发展服务历程，文艺青年广告的存在是是为了富有卓越眼光客户时限真正意义上的品牌生长和突破，时限品牌的持续腾飞。</p>
                        </li>
                        <li> <span class="li-disc"></span>将品牌策略、品牌计划和品牌传播执行紧密结合
                            <p>文艺广告拥有一支强有力的核心团队，他们拥有的丰富的经验，他们唯一的目的就是让客户满意是他们唯一的宗旨。</p>
                        </li>
                        <li> <span class="li-disc"></span>在一起形成“品牌领导力”
                            <p>文艺广告拥有一支强有力的核心团队，他们拥有的丰富的经验，他们唯一的目的就是让客户满意是他们唯一的宗旨。</p>
                        </li>
                        <li> <span class="li-disc"></span>确保所有品牌都能全面顾及用户体验
                            <p>文艺广告拥有一支强有力的核心团队，他们拥有的丰富的经验，他们唯一的目的就是让客户满意是他们唯一的宗旨。</p>
                        </li>
                        <li> <span class="li-disc"></span>建立了忠于品牌的核心价值与精神
                            <p>文艺广告拥有一支强有力的核心团队，他们拥有的丰富的经验，他们唯一的目的就是让客户满意是他们唯一的宗旨。</p>
                        </li>
                    </ul>
                </div>


            </div>

        </div>

    </section>






<!-- 底部 -->
<include file="Public/footer"/>

</body>
<script>
    $('.serve').addClass('hoverClass');
</script>
</html>