  
<include file="Public/header" />
   <link rel="stylesheet" href="__ROOT__/public/home/css/per-bala.css">
    <section class="per-box">
        <div class="center-element clear">
            <!-- 左边 -->
      <!--        <include file="Public/UserMenu" />   -->  
            <!-- 右边 -->
             <article class="per-cont">
                <div class="title">
                    <span>余额</span>
                </div>
                <div class="cont-bala">
                   <h1>余额</h1>
                   <p>{$result.money}元</p>
                   <div class="ba-btn">
                       <a class="qrc" href="{:U('User/UserPay')}">立即充值</a>
                       <a class="qrc" href="{:U('User/UserCash')}">立即提现</a>
                   </div>
                </div>

            </article>
        </div>

    </section>

        <include file="Public/footer" />
